<div>
  <h1><%= @article.title %></h1>
  <p><strong>Published:</strong> <em><%= @article.created_at.strftime('%d, %b, %Y') %></em></p>
  <p><strong>Filed under:</strong> <% @article.categories.each do |category| %>
    <em><%= category.name %></em>&nbsp;<% end %>
  </p>
  <div><%= @article.content %></div>
</div>