<h1>Welcome to Wikiful. Yet another Wiki :)</h1>

<h2>Recent Stuff</h2>

  <% @recent_articles.each do |article| %>
    <h3><%= link_to article.title, article %></h3>
    <p>Published: <%= article.created_at.strftime('%d, %b, %Y') %></p>
    <p>Filed under: <% article.categories.each do |category| %>
	
      <%= link_to category.name, category %>&nbsp;<% end %>
      <p><%= truncate(article.content, length: 100) %></p></br>

  <% end %>


