<div>
  <h1><%= @category.name %></h1>
  <p>Created <%= @category.created_at.strftime('%d, %b, %Y') %></p>
  <h3>Articles under this category</h3>
  <p>
    <% @category.articles.order(:updated_at).each do |article| %>
      <p><%= link_to article.title, article %></p>
    <% end %>
  </p>

</div>